body {
    margin: 0;
    padding: 0;
    background-color: slategray;
    font-family: 'Poppins', sans-serif; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: auto;
    max-height: 800px;
    height: auto;
}

.head1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}

.head2 {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#palette {
    width: 100%;
    height: 100%;
    width: 250px;
    height: 700px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.colors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colors-head {
    margin: 28px;
    font-weight: bold;
    font-size: 20px;
}

.btn {
    padding: none;
    width: 25px;
    height: 25px;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.orange {
    background-color: orange;
}
.gray {
    background-color: gray;
}

.eraser, .clear {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: white;
}

.eraser {
    margin-top: 32px;
    margin-bottom: 24px;
}

.clear {
    margin-bottom: 24px;
}

.quote {
    padding: 24px;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin-bottom :24px;
}

#pad {
    width: 100%;
    height: 100%;
    width: 700px;
    height: 700px;
    background-color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color:lightgray;
}
